---
import FormattedDate from "./FormattedDate.astro";
import type { CollectionEntry } from "astro:content";
import type { TimelineCollectionKey } from "../content/config";

interface Props {
  entry: CollectionEntry<TimelineCollectionKey.Education>;
}

const {
  entry: {
    data: { title, location, startingDate, endingDate },
    id,
  },
} = Astro.props;
---

<section id={id}>
  <h3>{title}</h3>
  <ul class="two-columns">
    <li class="icon icon-location">
      <span>{location}</span>
    </li>
    <li class="icon icon-calendar">
      <FormattedDate date={startingDate} /> - {
        endingDate ? <FormattedDate date={endingDate} /> : "Actualidad"
      }
    </li>
  </ul>
</section>
