---
import FormattedDate from "./FormattedDate.astro";
import type { CollectionEntry } from "astro:content";

interface Props {
  entry: CollectionEntry<"workExperience">;
}

const {
  entry: {
    data: { title, role, location, locationType, startingDate, endingDate },
    render,
    slug,
  },
} = Astro.props;

const { Content } = await render();
---

<section id={slug}>
  <h3>{title} - {role}</h3>
  <ul class="two-columns">
    <li>
      <i class="ti ti-map-pin"></i><span>{location} - {locationType}</span>
    </li>
    <li>
      <i class="ti ti-calendar-month"></i><span
        ><FormattedDate date={startingDate} /> - {
          endingDate ? <FormattedDate date={endingDate} /> : "Actualidad"
        }</span
      >
    </li>
  </ul>
  <Content />
</section>
