---
import "../styles/reset.css";
import "../styles/layout.css";
import "../styles/components/icons.css";
import "../styles/components/two-column-list.css";

const title = "Pablo Cru Delhom - Curriculum Vitae";

const description =
  "Currículum Vitae estructurado y personalizable desarrollado con Astro " +
  "que puede imprimirse fácilmente o convertirse a PDF";
---

<html lang="es">
  <head>
    {/* Character encoding */}
    <meta charset="UTF-8" />

    {/* Consistent user experience across different mobile devices */}
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    {/* Primary SEO Tags */}
    <title>{title}</title>
    <meta name="title" content={title} />
    <meta name="description" content={description} />
    <meta name="author" content="Pablo Cru Delhom" />
    <link rel="canonical" href={Astro.url} />

    {/* Credit to Astro */}
    <meta name="generator" content={Astro.generator} />

    {/* Favicon */}
    <link rel="icon" href={import.meta.env.BASE_URL + "/favicon.ico"} />

    {/* Import Tabler Icons from their CDN instead of installing the npm package */}
    <link
      rel="stylesheet"
      href={"https://cdn.jsdelivr.net/npm/@tabler/" +
        "icons-webfont@latest/dist/tabler-icons.min.css"}
    />
  </head>

  <body>
    <main>
      <slot />
    </main>
  </body>
</html>
